<h1>HOME PAGE</h1>

<!-- *Begin Header -->
<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Your anime blog site</h1>
    <p class="subheader">Learn about your favorite anime and mangas!!!!</p>
    <a href="#" class="round button">learn more</a>
  </div>
</div>


<!-- *End Header -->

<!-- *Begin Content -->
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="http://animeipics.files.wordpress.com/2012/09/minato-bijju-mode.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Naruto</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Learn more about Naruto by clicking learn more!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">One Piece</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Learn more about One Piece by clicking learn more!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="https://images8.alphacoders.com/799/thumb-1920-799330.png" alt="" />
  </div>
</div>


<!-- *End Content -->
